


@media only screen and (max-width: 768px) {
  #parameters-container {
    height: auto;
    width: 100%;
    max-width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 6;
  }
  .hidden-vertical {
    height: 0px !important;
    display: none;
  }
}