:root {
  --main-fg-values: 201, 202, 204;
  --main-bg-values: 29, 31, 33;
  --main-bg-color: rgb(var(--main-bg-values));
  --main-fg-color: rgb(var(--main-fg-values));
  --secondary-fg-color: rgb(43, 188, 138);
  --code-bg-color: rgb(41, 42, 45);
  --link-hover-values: 212, 128, 170;
  --link-hover-color: rgb(var(--link-hover-values));
  --error-color: var(--link-hover-color);
  --fg-muted: #666;
}

/* Margin */
.m-4 {
  margin: 1rem;
}

/* Padding */
.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

/* Height */
.h-full {
  height: 100%;
}

.h-90percent {
  height: 90%;
}

.h-10percent {
  height: 10%;
}

/* Width */
.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-72 {
  width: 18rem;
}

.w-80 {
  width: 20rem;
}

.w-96 {
  width: 24rem;
}

/*Flex*/
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

/* Flex Basis*/
.flex-basis-auto {
  flex-basis: auto;  
}

.flex-basis-50percent {
  flex-basis: 50%;
}

/* Justify */
.justify-stretch {
  justify-content: stretch;
}

/* Align */
.align-items-center {
  align-items: center;
}

/* Grid */
.grid {
  display: grid;
}

/* Colors */
.bg-primary {
  background-color: var(--main-bg-color);
}

.bg-secondary {
  background-color: var(--secondary-fg-color);
}